<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      
  Username 
      <input type="text" name="username" formControlName="uname">
      <div *ngIf="uname && uname?.invalid && uname?.touched">Username is invalid</div>
      <br>
      Password 
      <input type="text" name="password" formControlName="pword">
      <div *ngIf="pword && pword?.invalid && pword?.touched">Password is invalid</div>
      <br>
      <button>Login</button>
  </form>
  <div>{{msg}}</div>
</div>

<router-outlet></router-outlet>
