<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      User Name 
      <input type="text" name="username" formControlName="uname">
      <div *ngIf="uname && uname?.invalid && uname?.touched">Username or Password is invalid</div>
      <br />
      Password 
      <input type="text" name="password" formControlName="pword">
      <div>INVALID:{{pword?.invalid}}, TOUCHED:{{pword?.touched}}</div>
      <div *ngIf="pword && pword?.invalid && pword?.touched">Username or Password is invalid</div>
      <br />
      <button>Submit</button>
  </form>
</div>

<router-outlet></router-outlet>
